@use "../../variables" as *;

.product {
  outline: 2px solid rgba(0, 0, 0, 0.205);
  outline-offset: -2px;
  transition: all 0.15s ease-in;
  cursor: pointer;
  p {
    color: rgb(31, 30, 30);
  }
  &:hover {
    outline: 2px solid rgba(0, 0, 0, 0.7);
  }
}

.product-header {
  overflow: hidden;
  height: 280px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  span {
    display: inline !important;
  }
}

.product-details {
  font-size: 1.7rem;
  padding: 1rem;
}

.item-price {
  font-weight: 900;
  font-size: 2.2rem;
  margin-top: 1.4rem;
}

/* Extra small devices (phones, 600px and down) */
@include respond(small) {
  .product-header {
    height: 400px;
  }
  .product-details {
    font-size: 1.5rem;
    padding: 1rem;
  }
  .item-price {
    font-size: 1.9rem;
    margin-top: 1.4rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@include respond(medium) {
  .product-header {
    height: 150px;
  }
  .product-details {
    font-size: 1.3rem;
    padding: 1rem;
  }
  .item-price {
    font-size: 1.6rem;
    margin-top: 1.4rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@include respond(large) {
  .product-header {
    height: 200px;
  }
}

@include respond(extraLarge) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@include respond(wide) {
}
