@use "../../variables" as *;

.cart-item {
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border: 1px solid #717171;
  border-radius: 3px;
  background-color: #f2f2f2;
  padding: 2px;
}

.cart-img {
  align-self: center;
  width: 100%;
  height: 140px;
  background-color: white;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 3px;
  }
}

.cart-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px;
}
.cart-btns {
  display: flex;
  gap: 5px;
  padding: 0 3px;
  width: 80px;
  border: 1px solid #717171;
  justify-content: space-around;
  align-items: center;
  h2 {
    cursor: pointer;
    text-align: center;
    display: inline-block;
  }
  p {
    text-align: center;
    font-size: 1.2rem;
  }
}

.cart-name {
  font-size: 1.2rem;
}

.cart-right {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-between;
  padding: 1.4rem;

  font-size: 1.2rem;
  font-weight: 600;
  i {
    cursor: pointer;
  }
}

.delete-btn {
  font-size: 2rem;
  align-self: end;
  cursor: pointer;
}

.cart-price {
  font-size: 1.2rem;
}

@include respond(extraSmall) {
  .cart-item {
    grid-template-columns: 1fr;
    width: 100%;
    height: fit-content;
  }

  .cart-img {
    width: 100%;
    height: 150px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .cart-middle {
    align-items: center;
    gap: 2rem;
  }

  .cart-right {
    text-align: center;
    flex-direction: row;
  }
  .delete-btn {
    font-size: 2.5rem;
  }
}

@include respond(small) {
}
