@use "../variables" as *;

.empty-cart {
  display: flex;

  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  h2 {
    font-weight: 800;
  }
  img {
    width: 300px;
  }
}

@include respond(extraSmall) {
  .empty-cart {
    img {
      width: 150px;
    }
  }
}

@include respond(small) {
  .empty-cart {
    img {
      width: 210px;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@include respond(medium) {
  .empty-cart {
    img {
      width: 220px;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@include respond(large) {
  .empty-cart {
    img {
      width: 220px;
    }
  }
}
@include respond(extraLarge) {
  .empty-cart {
    img {
      width: 220px;
    }
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@include respond(wide) {
}
