@use "../../variables" as *;

a {
  text-decoration: none;
  color: black;
}

.category-container {
  padding: 5rem 0;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2rem;
}

.product {
  outline: 2px solid rgba(0, 0, 0, 0.205);
  outline-offset: -2px;
  transition: all 0.15s ease-in;
  cursor: pointer;
  p {
    color: rgb(31, 30, 30);
  }
  &:hover {
    outline: 2px solid rgba(0, 0, 0, 0.7);
  }
}

.product-header {
  overflow: hidden;
  height: 300px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  span {
    width: 100%;
    height: 100%;
  }
}

.product-details {
  font-size: 1.5rem;
  padding: 1rem;
}

.item-price {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 1.4rem;
}

/* Extra small devices (phones, 600px and down) */
@include respond(small) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

/* Medium devices (landscape tablets, 768px and up) */
@include respond(medium) {
  .products-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }
  .product-header {
    height: 300px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@include respond(large) {
  .products-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
  }
  .product-header {
    height: 150px;
  }
}

@include respond(extraLarge) {
  .product-header {
    height: 200px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@include respond(wide) {
}
