@use "../../variables" as *;

.full-cart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.full-cart-div {
  overflow-y: scroll;
  padding: 5px;
  max-height: 60%;
  margin-top: 2rem;
  margin-right: -0.5rem;
}
/* subtotal */
.subtotal-div {
  display: flex;
  width: 100%;
  height: 12rem;
  border-top: 2px dashed black;
  margin-top: 1.5rem;
  padding: 1rem 0;
  align-items: center;
  justify-content: space-between;
}

.sub-right {
  font-size: 1.6rem;
  font-weight: 600;
}

.sub-left {
  a {
    font-size: 1.4rem;
    color: black;
    border: 2px solid black;
    text-decoration: none;
    background-color: transparent;
    padding: 5px 10px;
    transition: all 0.2s;
    &:hover {
      background-color: #000000;
      color: white;
    }
  }
}

@include respond(extraSmall) {
  .cart-item {
    grid-template-columns: 1fr;
    height: 100%;
    width: 90%;
  }

  .subtotal-div {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  /* .full-cart-div {
        height: 63%;
    } */
}
@include respond(small) {
  .cart-item {
    grid-template-columns: 1fr;
    height: 100%;
    width: 90%;
  }

  .subtotal-div {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  /* .full-cart-div {
        height: 63%;
    } */
}
