@use "../variables" as *;

.product-container {
  a {
    text-decoration: none;
    color: black;
  }
}

.title {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 2rem !important;
}

.products-content-container {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  gap: 20px;

  margin: 0 auto;
}

@include respond(extraSmall) {
  .title {
    font-size: 1.8rem;
  }
}
/* Extra small devices (phones, 600px and down) */
@include respond(small) {
  .title {
    font-size: 1.9rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@include respond(medium) {
  .title {
    font-size: 2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@include respond(large) {
  .title {
    font-size: 2.1rem;
  }
}

@include respond(extraLarge) {
  .title {
    font-size: 2.4rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@include respond(wide) {
}
