:root {
  font-family: "Lucida Console", monospace;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  width: 60%;
  margin: 0 auto;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 11px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 750px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 430px) {
  html {
    font-size: 12px;
  }
}
