@use "variables" as *;

:root {
  font-family: "Lucida Console", monospace;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  &:hover {
    color: #535bf2;
  }
}
body {
  margin: 0 auto;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@include respond(extraSmall) {
  html {
    font-size: 10px;
  }
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

/* Extra small devices (phones, 600px and down) */
@include respond(small) {
  html {
    font-size: 11px;
  }
  .container {
    width: 400px;
    margin: 0 auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@include respond(medium) {
  html {
    font-size: 11px;
  }
  .container {
    width: 580px;
    margin: 0 auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@include respond(large) {
  html {
    font-size: 12px;
  }
  .container {
    width: 748px;
    margin: 0 auto;
  }
}

@include respond(extraLarge) {
  html {
    font-size: 11px;
  }
  .container {
    width: 960px;
    margin: 0 auto;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@include respond(wide) {
  html {
    font-size: 11px;
  }
}
